<div class="button-row">
  <button (click)="onRandomize()">{{ 'RANDOMIZE' | translate }}</button>
  <button (click)="onStep()">{{ 'STEP' | translate }}</button>
  <button (click)="onRun()">{{ 'RUN' | translate }}</button>
  <button (click)="onStop()">{{ 'STOP' | translate }}</button>
</div>

<div class="grid-container">
  <div
    class="grid"
    [style.gridTemplateColumns]="'repeat(' + width + ', 1fr)'"
    [style.gridTemplateRows]="'repeat(' + height + ', 1fr)'"
  >
    <ng-container *ngFor="let row of (grid$ | async); let y = index">
      <ng-container *ngFor="let cell of row; let x = index">
        <div
          class="cell"
          [class.alive]="cell"
          (click)="toggleCell(y, x)"
        ></div>
      </ng-container>
    </ng-container>
  </div>
</div>